PLUGINS monitoring_hists,compton,danarest,mcthrown_tree,HLDetectorTiming

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 4

JANA_CALIB_CONTEXT variation=mc

HLDETECTORTIMING:CCAL_CALIB 1

TRKFIT:HYPOTHESES 2,3,8,9,11,12,14,15    #GEANT PIDs for tracking: Add e+/- & pbar

# no trigger applied
TRIG:BYPASS 1