

html, body{
    height:100%;
    margin:0;
    padding:0;
}


.tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#tooltip {
  position: absolute;
  z-index: 1001;
  display: none;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

#cntnr{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;      background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}
.news-ticker{
        background: none repeat scroll 0 0 rgb(255, 153, 0);
        color: #000000;
        line-height: 28px;
        padding: 0;
        text-align: center;
        float: top;
        display: block;

        animation-name: fadeInDown;
        animation-duration: 1s;
        animation-delay: 5s;
        animation-iteration-count: 1;
        animation-fill-mode:both;
        content:"TEST";
}
.header-block
{
    float:left;
    background: #000000;
    width: 100%;
    height: 500;
}
@media only screen and (min-width:1515px)
{
.header-info
{
    float:right;
    background: #000000;
    width: 80%;
    visibility: visible;
    overflow: auto;
    float:left;
    /*clear:both;*/
}
}
@media only screen and (max-width:1515px)
{
.header-info
{
    float:right;
    background: #000000;
    width: 80%;
    visibility: visible;
    overflow: auto;
    float:left;
    /*clear:both;*/
}
}
.header-menu
{
    float:left;
    background:#000000;
    width: 10%;
    height:500;
    margin:auto;
    overflow: hidden;
}
.header-hb
{
    float:right;
    background:#000000;
    width: 10%;
    height:500px;
    margin:auto;
    overflow: hidden;
}
.table-block
{
    background: #000000;
    width: 100%;
    margin:auto;
    float:left;
    overflow:auto;
    color: white;
}
.table
{
    background: #000000;
    width: 100%;
    margin:auto;
    
    left:10px;
    overflow:auto;
    color: white;
    /*min-height: 770px;*/
    
}
.do-SlideInLeft
{
    animation-name: slideInLeft;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
}
.addtable
{
    animation-name: zoomInDown;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    /*float:left;*/
}
.table-header
{
    color:white;
    font-size: 30px;
    font-style: bold;
}
td
{
    background:#000000;
    color: white;
    border: 1px solid white;
}
th
{
    background:#000000;
    color: white;
    border: 1px solid white;
}

tr:hover td{
    background-color: rgb(0, 132, 255);
    cursor: pointer;
    box-shadow: 0 10px 8px -6px rgb(240, 240, 240);
    
}
th:hover{
    cursor: pointer;
}
hr { width: 85%; 
  background-color:#E4E4E4;
  border-color:#E4E4E4;
    color:#E4E4E4;
}
#logo
{
    /*margin:auto;*/
    display:block;
    margin-right:29px;
    align-content:center;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
}
.led-box
{
    /*visibility: hidden;*/
    display:block;
    height: 30px;
    width:10%;
    margin-left:30px;
    float: center;
    clear: both;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
}
.hb-tag{
    color:#FFFFFF;
    float:right;
}
.led-box p
{
    text-align: center;
    color:#FFFFFF;
}
.led-green
{
   /*visibility: hidden;*/
    margin:0 auto;
    width:24px;
    height:24px;
    background-color:#ABFF00;
    border-radius:50%;
    box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;

}
.led-red-blinking
{
    /*visibility: hidden;*/
    margin:0 auto;
    width:24px;
    height:24px;
    background-color:rgb(255, 0, 0);
    border-radius:50%;
    box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px, inset #470101 0 -1px 9px, rgb(255, 51, 0) 0 2px 12px;
    -webkit-animation: blinkRed .5s infinite;
    -moz-animation: blinkRed .5s infinite;
    -ms-animation: blinkRed .5s infinite;
    -o-animation: blinkRed .5s infinite;
    animation: blinkRed .5s infinite;

}
.led-blink-green
{
    /*visibility: hidden;*/
    margin:0 auto;
    width:24px;
    height:24px;
    background-color:rgb(0, 255, 13);
    border-radius:50%;
    box-shadow:rgba(60, 255, 0, 0) 0 -1px 7px 1px, inset #014704 0 -1px 9px, rgb(0, 255, 13) 0 2px 12px;
    -webkit-animation: blinkGreen .25s infinite;
    -moz-animation: blinkGreen .25s infinite;
    -ms-animation: blinkGreen .25s infinite;
    -o-animation: blinkGreen .25s infinite;
    animation: blinkGreen .25s infinite;

}
@keyframes blinkingText{
    0%{     color: rgb(0, 68, 255);    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color:rgb(0, 68, 255)    }
}
.pulse
{
    color:white;
    animation: blinkingText 1s 1;
}
.led-red
{
    /*visibility: hidden;*/
    margin:0 auto;
    width:24px;
    height:24px;
    background-color:rgb(255, 0, 0);
    border-radius:50%;
    box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px, inset #470101 0 -1px 9px, rgb(255, 51, 0) 0 2px 12px;
    
}
@-webkit-keyframes blinkRed {
    from { background-color: rgb(255, 51, 0); }
    50% { background-color: rgb(170, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #800202 0 -1px 9px, rgb(170, 0, 0) 0 2px 0; }
    to { background-color: rgb(255, 51, 0); }
}
@-moz-keyframes blinkRed {
    from { background-color: rgb(255, 51, 0); }
    50% { background-color: rgb(170, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #800202 0 -1px 9px, rgb(170, 0, 0) 0 2px 0; }
    to { background-color: rgb(255, 51, 0); }
}
@-ms-keyframes blinkRed {
    from { background-color: rgb(255, 51, 0); }
    50% { background-color: rgb(170, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #800202 0 -1px 9px, rgb(170, 0, 0) 0 2px 0; }
    to { background-color: rgb(255, 51, 0); }
}
@-o-keyframes blinkRed {
    from { background-color: rgb(255, 51, 0); }
    50% { background-color: rgb(170, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #800202 0 -1px 9px, rgb(170, 0, 0) 0 2px 0; }
    to { background-color: rgb(255, 51, 0); }
}
@keyframes blinkRed {
    from { background-color: rgb(255, 51, 0); }
    50% { background-color: rgb(170, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #800202 0 -1px 9px, rgb(170, 0, 0) 0 2px 0; }
    to { background-color: rgb(255, 51, 0); }
}

@keyframes blinkGreen {
    from { background-color: rgb(0, 255, 13); }
    50% { background-color: rgba(102, 255, 0, 0.226); box-shadow: rgba(219, 255, 198, 0.945) 0 -1px 7px 1px, inset #3c7c00 0 -1px 9px, rgb(102, 255, 0) 0 2px 0; }
    to { background-color: rgb(0, 255, 13); }
}
@-webkit-keyframes blinkGreen {
    from { background-color: rgb(0, 255, 13); }
    50% { background-color: rgba(102, 255, 0, 0.226); box-shadow: rgba(219, 255, 198, 0.945) 0 -1px 7px 1px, inset #3c7c00 0 -1px 9px, rgb(102, 255, 0) 0 2px 0; }
    to { background-color: rgb(0, 255, 13); }
}
@-moz-keyframes blinkGreen {
    from { background-color: rgb(0, 255, 13); }
    50% { background-color: rgba(102, 255, 0, 0.226); box-shadow: rgba(219, 255, 198, 0.945) 0 -1px 7px 1px, inset #3c7c00 0 -1px 9px, rgb(102, 255, 0) 0 2px 0; }
    to { background-color: rgb(0, 255, 13); }
}
@-ms-keyframes blinkGreen {
    from { background-color: rgb(0, 255, 13); }
    50% { background-color: rgb(9, 255, 0); box-shadow: rgba(219, 255, 198, 0.945) 0 -1px 7px 1px, inset #3c7c00 0 -1px 9px, rgb(102, 255, 0) 0 2px 0; }
    to { background-color: rgb(0, 255, 13); }
}
@-o-keyframes blinkGreen {
    from { background-color: rgb(0, 255, 13); }
    50% { background-color: rgba(102, 255, 0, 0.226); box-shadow: rgba(219, 255, 198, 0.945) 0 -1px 7px 1px, inset #3c7c00 0 -1px 9px, rgb(102, 255, 0) 0 2px 0; }
    to { background-color: rgb(0, 255, 13); }
}
@media only screen and (min-width:1515px)
{
#graphs
{
    width: 600px;
    float: right;
    animation-name: slideInDown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-delay:1s;
}
}
@media only screen and (max-width:1515px)
{
#graphs
{
    width: 80%;
    float: left;
}
}

.graph
{
    width: 600px;
	height: 250px;
    float:right;
    /*position:block;*/
    margin:auto;
	background: black;
}
@media only screen and (min-width:1515px) {
#globe {
    padding-left: 0%;
	width: 50%;
	height: 500px;
    float:left;
    margin-left:0px;
    background: black;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-delay:1.5s;
}
}
@media only screen and (max-width:1515px) {
    #globe {
        padding-left: 0%;
        width: 0%;
        height: 500px;
        float:left;
        margin-left:0px;
        background: black;
        visibility: hidden;
    }
    }
#menuToggle
{
  display: block;
  position: relative;
  float: left;
  top: 50;
  left: 50;
  margin-left:12px;
  margin-top:5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-top:5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #EFEFEF;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu
 {
   position: relative;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #000000;
   color:#FFFFFF;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

#menu li
{
    padding: 10px 0;
  font-size: 18px;
  color: #FFFFFF;
}

a:link
{ 
    color:white;
    text-decoration:none;
} 
a:visited
{
    text-decoration:none;
}
a:hover
{
    text-decoration-color: #0000FF;
    color:#0000FF;
}
a:active
{
    color:rgb(54, 54, 54);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}